<section class="container">
  <div class="four-oh-four">
    <h1 class="four-oh-four__title">.500</h1> <!--  .four-oh-four -->
    <p class="four-oh-four__body">Something has gone wrong on our end, this can happen if you have exported a psd from a program that isnt Photoshop you can have an issues.</p> <!--  .large-instructions -->
    <a href="/" class="single-row btn">Go home</a>
  </div> <!--  .four-oh-four -->
</section> <!--  .container -->