<div class="full-bleed">
	<footer class="wrapper">
		<div class="some-attribs">
			<p>This was made in LDN with <i class="heart-icon"></i> by <a href="http://maison.io">Sam Mason</a></p>
		</div> <!--  .some-attribs -->

		<div class="shit-that-should-probably-be-said">
			<p>N.B. This site does not keep a copy of your psd's or your results, this aint no PRISM joint!!</p>
		</div> <!--  .shit-that-should-probably-be-said -->
	</footer> <!--  .wrapper -->
</div> <!--  .full-bleed -->