<footer class="container">
	<div class="attributions">
		<p>Made in London with <img class="heart" src="img/heart@2x.png" alt=""> by <a href="http://maison.io">Sam Mason</a><br>
      Open sourced on <a targte="_blank" href="https://github.com/samjbmason/psdfonts">GitHub</a> & read about how it was built <a href="http://maison.io/blog/building-psdfonts" target="_blank">here</a>
    </p>
	</div> <!--  .some-attribs -->

	<div class="got-your-back">
		<p>This site <strong>does not</strong> keep a copy of your psd's or your results, this aint no PRISM joint!!</p>
	</div> <!--  .shit-that-should-probably-be-said -->
</footer> <!--  .wrapper -->