<section class="container">
	<div class="four-oh-four">
		<h1 class="four-oh-four__title">.404</h1> <!--  .four-oh-four -->
		<p class="four-oh-four__body">Really sorry but there isn't anything here, I'm actually very surprised you even typed that into the address bar!!</p> <!--  .large-instructions -->
		<a href="/" class="single-row btn">Go home</a>
	</div> <!--  .four-oh-four -->
</section> <!--  .container -->