<div class="container">
    <section class="intro">
      <%= erb :header %>
      <h2 class="strapline">Figure out what fonts are being used in a psd without trawling through badly labelled layers.</h2>
    </section>

  	<%= erb :upload_form %>
</div>

<div class="container">
  <div class="notice">
    <p>Don't have Dropbox? It's awesome & free <a href="http://db.tt/HKCe5PfV"><strong>check it out</strong></a>.</p>
  </div> <!--  .notice -->
</div> <!--  .container -->