<section class="wrapper">

	<%= erb :errors %> 
	
	<div class="intro">
		<h2 class="alpha">A small tool created to help getting all the fonts that are used within a psd file.</h2>
	</div> <!--  .intro -->

	

	<%= erb :upload_form %> 

</section> <!--  .wrapper -->