<h1>Hello</h1>

<hr>

<%= @singleFonts %>

<hr>

<form action="/" method="POST" enctype="multipart/form-data">
	<input type="file" name="psd">
	<input type="text" name="title">
	<input type="submit">
</form>


<hr>

<p><%= @title %></p>

<p><%= @fileName[:filename] %></p>

<p><%= @psdHash %></p>

