<section class="wrapper">

	<%= erb :header %>
	
	<div class="intro">
		<p>Want to figure out what fonts are being used in a psd without trawling through badly labelled layers, well then just upload your psd below.</p>
	</div> <!--  .intro -->

	<%= erb :upload_form %>

</section> <!--  .wrapper -->