<section class="wrapper">
	
	<div class="intro">
		<h1>A small tool created to help getting all the fonts thatv are used within a psd file.</h1>
	</div> <!--  .intro -->

	<%= erb :errors %> 

	<%= erb :upload_form %> 

</section> <!--  .wrapper -->