<section class="wrapper">

	<header>
		<h1 class="site-title"><a href="/">.psd fonts</a></h1>
	</header>
	
	<div class="intro">
		<p>Want to figure out what fonts are being used in a psd without trawling through badly labelled layers, well then just upload your psd below.</p>
	</div> <!--  .intro -->

	<%= erb :upload_form %>

	<div class="shit-that-should-probably-be-said">
		<p>This site does not keep a copy of your psd's or your results, this aint no PRISM joint!!</p>
	</div> <!--  .shit-that-should-probably-be-said -->

</section> <!--  .wrapper -->