<h1>Hello</h1>

<%= @psdHash %>

<hr>

<%= @fontHash %>

<hr>

<%= @singleFonts %>

<form action="/" method="POST" enctype="multipart/form-data">
	<input type="file" name="psd">
	<input type="submit">
</form>
