<div class="errors-box"></div> <!--  .errors-box -->

<form class="upload-form" name="psd-form" action="/" method="POST" enctype="multipart/form-data">
	<input type="file" name="psd">
	<input type="submit">
</form>


