<section class="wrapper">

	<%= erb :header %>
	
	<div class="intro">
		<p class="strapline">Figure out what fonts are being used in a psd without trawling through badly labelled layers.</p>

		<p class="upload-notice">If you have slow upload speeds ( < 1Mbps ) I would suggest using the dropbox upload.<br> Please be patient.</p>
	</div> <!--  .intro -->

	<%= erb :upload_form %>

</section> <!--  .wrapper -->