<section class="wrapper">

	<%= erb :header %>
	
	<div class="intro">
		<p class="strapline">Figure out what fonts are being used in a psd without trawling through badly labelled layers.</p>

		<p class="upload-notice">I have <strong>removed the manual upload</strong> as users were having issues with browser time out's. This should give everyone a better experience by not being held up slow connections.</p>

	</div> <!--  .intro -->

	<%= erb :upload_form %>

	<%= erb :notice %>

</section> <!--  .wrapper -->