<section class="wrapper">

	<%= erb :header %>
	
	<div class="intro">
		<p class="strapline">Figure out what fonts are being used in a psd without trawling through badly labelled layers.</p>

		<p class="upload-notice">I have <strong>removed the manual upload</strong> as very few people were using it and when they were the browser would time out most of the time. This should give everyone a better experience by not blocking connections.</p>
	</div> <!--  .intro -->

	<%= erb :upload_form %>

	<%= erb :notice %>

</section> <!--  .wrapper -->