<section class="wrapper">

	<%= erb :header %>
	
	<div class="intro">
		<p>Want to figure out what fonts are being used in a psd without trawling through badly labelled layers, well then just upload your psd below. <br>(40MB max file size, unless people ask for bigger then I will open it up)</p>
	</div> <!--  .intro -->

	<%= erb :upload_form %>

</section> <!--  .wrapper -->