<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>.psd fonts</title>
    
    <link href='http://fonts.googleapis.com/css?family=Dosis:500,600|Playfair+Display:900italic' rel='stylesheet' type='text/css'>
    <link rel="shortcut icon" href="/assets/favicon.ico">
    <link href="/assets/style.css" media="screen" rel="stylesheet" type="text/css">
  </head>
	<body>

		<%= yield %>

		<%= erb :footer %>
    
		<script src="/assets/app.js"></script>
	</body>
</html>