<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width">

    <title>.psd fonts</title>
    <meta name="description" content="Figure out what fonts are being used in a psd without trawling through badly labelled layers.">

    <link rel="stylesheet" href="/style.css">
  </head>
	<body>

		<%= yield %>

		<%= erb :footer %>

    <%= erb :tracking if settings.production? %>

    <script type="text/javascript" src="https://www.dropbox.com/static/api/2/dropins.js" id="dropboxjs" data-app-key="ze2eb3rbb24o2z3"></script>
    <script src="/app.min.js"></script>
    </script>
	</body>
</html>