<div class="notice">
	<p><span class="notice__header">New!</span> Want to find out how psdfonts.com was built, <a href="http://mason.io/blog/building-psdfonts" target="_blank">read this post.</a></p>
</div> <!--  .notice -->