<div class="notice">
	<p>Don't have Dropbox? It's awesome and free <a href="http://db.tt/HKCe5PfV"><strong>check it out</strong></a></p>
	
	<p><span class="notice__header">New!</span> Want to find out how psdfonts.com was built, <a href="http://mason.io/blog/building-psdfonts" target="_blank">read this post.</a></p>
</div> <!--  .notice -->