<section class="wrapper">
	<%= erb :header %>
	
	<div class="font-list">
	<% @singleFonts.each do |font| %>
		<p><%= font.gsub(/(?<=[a-z])(?=[A-Z])/, ' ').gsub(/-/, ' - ') %></p>
	<% end %>
	</div> <!--  .font-list -->

</section> <!--  .wrapper -->