<form class="upload-form" name="psd-form" action="/results" method="POST">

	<fieldset>
		<button class="upload-form__btn--dropbox btn" id="js-file-dropbox">choose psd from dropbox</button>
		<input type="hidden" id="js-dropbox-field" name="dropbox_file">

		<button class="upload-form__btn--submit btn">upload</button>
	</fieldset>

</form>
