<form class="upload-form" name="psd-form" action="/" method="POST" enctype="multipart/form-data">
	<input type="file" id="js-file-field" name="psd">
	<button class="styled-file btn" id="js-file-btn">Upload a PSD</button>
	<input type="submit">
</form>