<form class="upload-form" name="psd-form" action="/" method="POST" enctype="multipart/form-data">
	<input type="file" id="js-file-field" name="psd">
	<button id="js-file-btn">Launch</button>
	<input type="submit">
</form>