<form class="upload-form" name="psd-form" action="/" method="POST" enctype="multipart/form-data">
	
	<%= erb :errors %> 

	<fieldset>
		<input type="file" class="hide-completely" id="js-file-field" name="psd">
		<button class="upload-form__btn--upload btn" id="js-file-btn">choose a psd</button>
		
		<div class="faded-out upload-form__file-actions">

			<p class="upload-form__file-name" id="js-file-name"></p>
			<a href="/" class="start-again btn"><i></i></a>
		</div> <!--  .faded-out upload-form__file-actions -->
	</fieldset>

	<input class="upload-form__btn--submit btn" type="submit" value="upload">

</form>

