@import "bourbon/bourbon";
@import "neat/neat";

/*-----------------------------------*\
	$RESET
\*-----------------------------------*/

* {
	margin: 0;
	padding: 0;
}

a {
	text-decoration: none;
}

/*-----------------------------------*\
	$OBJECTS
\*-----------------------------------*/

.wrapper {
	@include outer-container;
}

/*-----------------------------------*\
	$MAIN
\*-----------------------------------*/

body {
	font-family: 'Imprima', sans-serif;
	font-weight: 400;
	color: #231F20;
	background-color: #f7f8f4;
	line-height: 1.3;
}

.btn {
	font-family: 'Imprima', sans-serif;
}

/*-----------------------------------*\
	$TYPE
\*-----------------------------------*/

h1,
.alpha {
	font-size: 2rem;
}

.beta {
	font-size: 1.5rem;
}


/*-----------------------------------*\
	$HEADER
\*-----------------------------------*/

header {
	background-color: #363b48;
	box-shadow: 0px 1px 2px rgba(152,159,178,0.9);
	@include pad(26px default);
	margin-bottom: 30px;
}

.logo {
	color: #fff;
	@include media(max-width 760px) {
		text-align: center;
	}
}

/*-----------------------------------*\
	$CONTENT
\*-----------------------------------*/

.intro {
	@include span-columns(6);
}

/*-----------------------------------*\
	$FORM
\*-----------------------------------*/

.errors-box {
	background: #DE4854;
	border-radius: 3px;
}

.errors-box__message {
	color: #fff;
	@include pad(10px 20px);
}

.upload-form {
	@include span-columns(5);
	@include shift(1);
}

.styled-file.btn {
	background-color: #3F9FC9;
	color: #fff;
	
}

.faded-out {
	opacity: 0
}

.hide-completely {
	display: none;
	visibility: hidden;
}

.fade-in {
	-webkit-transition: all 1.3s ease-out;  /* Chrome 1-25, Safari 3.2+ */
     -moz-transition: all 1.3s ease-out;  /* Firefox 4-15 */
       -o-transition: all 1.3s ease-out;  /* Opera 10.50–12.00 */
          transition: all 1.3s ease-out;
	opacity: 1;
}