@import "bourbon/bourbon";
@import "neat/neat";

/*-----------------------------------*\
	$RESET
\*-----------------------------------*/

* {
	margin: 0;
	padding: 0;
}

a {
	text-decoration: none;
}

fieldset {
	border: none;
}

/*-----------------------------------*\
	$OBJECTS
\*-----------------------------------*/

.wrapper {
	@include outer-container;
	@include row;
}

/*-----------------------------------*\
	$MAIN
\*-----------------------------------*/

body {
	font-family: 'Dosis', sans-serif;
	font-weight: 500;
	font-size: 17px;
	line-height: 1.25;
	color: #231F20;
	background-color: #f7f8f4;
}

a {
	color: #DF5B57;
}

.btn {
	font-family: 'Dosis', sans-serif;
	font-weight: 600;
	display: inline-block;
	padding: 5px 30px 7px;
	border-radius: 35px;
	font-size: ceil(golden-ratio(17px, 1));
	border: 3px solid;
	color: #231F20;
	background-color: transparent;
	cursor: pointer;
	@include transition(all 0.3s ease-in-out);
	&:hover {
		@include transform(scale(1.05));
	}
}

/*-----------------------------------*\
	$TYPE
\*-----------------------------------*/

h1,
.alpha {
	font-family: 'Playfair Display', serif;
	font-weight: 900;
	font-style: italic;
	font-size: ceil(golden-ratio(17px, 4));
	line-height: 1.1;
	color: #DF5B57;
}

.beta {
	font-size: 1.5rem;
}

/*-----------------------------------*\
	$CONTENT
\*-----------------------------------*/

header {
	@include span-columns(8);
	@include shift(2);
	@include row;
	text-align: center;
	margin-top: 25px;
	@include media(max-width 810px) {
		@include span-columns(12);
		@include shift(0);
	}
}

.intro,
.spell-it-out {
	@include span-columns(6);
	@include shift(3);
	@include row;
	text-align: center;
	margin-top: 30px;
	@include media(max-width 810px) {
		@include span-columns(12);
		@include shift(0);
	}
}

/*-----------------------------------*\
	$FORM
\*-----------------------------------*/

.errors-box {
	min-height: 32px;
	margin-bottom: 10px;
}

.errors-box__message {
	color: #fff;
	padding: 8px 15px;
	margin: 0;
	background: #DE4854;
	border-radius: 3px;
	display: inline-block;
}

.upload-form {
	@include span-columns(6);
	@include shift(3);
	@include row;	
	text-align: center;
	margin-top: 10px;
}

.upload-form__file-name {
	display: inline-block;
	margin: 5px 0;
	color: #DF5B57;
}

.upload-form__file-actions {
	margin-bottom: 12px;
}

.start-again.btn {
	display: inline-block;
	font-size: ceil(golden-ratio(17px, 0));
	color: #7f8c8d;
	padding: 5px 7px 5px 5px;
	margin-left: 4px;
	border-color: #7f8c8d;
	&:hover {
		background: #7f8c8d;
		color: #edebd8;
		i {
			background: url(/assets/reload-hover.png) no-repeat center center;
		}
	}
	i {
		display: inline-block;
		vertical-align: middle;
		background: url(/assets/reload.png) no-repeat center center;
		min-height:22px;
		min-width: 22px;
		margin-right: 2px;
		@include animation-name(spin);
		@include animation-duration(1500ms);
		@include animation-timing-function(linear);
		@include animation-iteration-count(infinite);
	}
}

.upload-form__btn--upload.btn {
	border-color: #DF5B57;
	color: #DF5B57;
	margin-bottom: 12px;
	&:hover {
		color: #edebd8;
		background-color: #DF5B57;
	}
}

.upload-form__btn--submit.btn {
	border-color: #50a2a2;
	color: #50a2a2;
	&:hover {
		color: #edebd8;
		background-color: #50a2a2;
	}
}

.faded-out {
	opacity: 0;
	display: none;
}

.hide-completely {
	display: none;
	visibility: hidden;
}

.fade-in {
	@include transition(opacity 1.3s ease-out);
	opacity: 1;
}

@include keyframes(spin) {
	from {
		@include transform(rotate(0deg));
	}
	to {
		@include transform(rotate(360deg));
	}
}

/*-----------------------------------*\
	$RESULTS
\*-----------------------------------*/

.spell-it-out {
	text-align: left;
}

.font-list {
	@include span-columns(6);
	@include shift(3);
	@include row;	
	margin-top: 20px;
}

.font-list__single-font {
	font-size: ceil(golden-ratio(17px, 1));
	color: #231F20;
	margin-bottom: 15px;
	@include row;
}

.font-list__name {
	@include span-columns(7);
}

.font-list__link-right {
	@include span-columns(5);
	@include omega;
	text-align: right;
}

.font-list__buy-font {
	text-align: left;
	padding-right: 8px;
	color: #DF5B57;
	font-size: ceil(golden-ratio(17px, 0));
	background: url(/assets/cart.png) no-repeat 6px center;
}

.all-of-the-extras {
	@include span-columns(12);
	text-align: center;
}

.copy-fonts {
	color: #34495e;
	font-size: ceil(golden-ratio(17px, 0));
	background: url(/assets/clipboard.png) no-repeat 10px center;
	padding-right: 10px;
	&.clipboard-is-hover {
		background: #34495e url(/assets/clipboard-hover.png) no-repeat 10px center;
		border-color: #34495e;
		color: #edebd8;
	}
}

/*-----------------------------------*\
	$FOOTER
\*-----------------------------------*/

.full-bleed {
	background-color: #34495e;
	width: 100%;
}

footer {
	padding: 25px 0;
	margin-top: 30px;
	color: #f7f8f4;
}

.some-attribs {
	@include span-columns(4);
	@include shift(2);
	font-size: 15px;
	@include media(max-width 810px) {
		@include span-columns(12);
		@include shift(0);
		text-align: center;
	}
	a {
		font-weight: 600;
	}
}

.heart-icon {
	width: 18px;
	height: 14px;
	display: inline-block;
	background: url(/assets/heart.png) no-repeat center center;
}

.shit-that-should-probably-be-said {
	@include span-columns(4);
	@include omega;
	font-size: 13px;
	text-align: right;
	@include media(max-width 810px) {
		@include span-columns(12);
		text-align: center;
		margin-top: 15px;
	}
}