@import "bourbon/bourbon";
@import "neat/neat";

@font-face {
  font-family: 'aleobold';
  src: url('fonts/aleo-bold-webfont.eot');
  src: url('fonts/aleo-bold-webfont.eot?#iefix') format('embedded-opentype'),
       url('fonts/fonts/aleo-bold-webfont.woff') format('woff'),
       url('fonts/aleo-bold-webfont.ttf') format('truetype'),
       url('fonts/aleo-bold-webfont.svg#aleobold') format('svg');
  font-weight: normal;
  font-style: normal;
}




@font-face {
    font-family: 'aleoregular';
    src: url('fonts/aleo-regular-webfont.eot');
    src: url('fonts/aleo-regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/aleo-regular-webfont.woff') format('woff'),
         url('fonts/aleo-regular-webfont.ttf') format('truetype'),
         url('fonts/aleo-regular-webfont.svg#aleoregular') format('svg');
    font-weight: normal;
    font-style: normal;
}

/*-----------------------------------*\
	$RESET
\*-----------------------------------*/

* {
	margin: 0;
	padding: 0;
}

a {
	text-decoration: none;
}

/*-----------------------------------*\
	$OBJECTS
\*-----------------------------------*/

.wrapper {
	@include outer-container;
}

/*-----------------------------------*\
	$MAIN
\*-----------------------------------*/

body {
	font-family: aleoregular;
	color: #000;
}

.btn {
	font-family: aleoregular;
	padding: 20px 30px;
	border: none;
	border-radius: 3px;
	font-size: 1.5rem;
}

/*-----------------------------------*\
	$TYPE
\*-----------------------------------*/

h1,
.alpha {
	font-size: 2rem;
}

.beta {
	font-size: 1.5rem;
}


/*-----------------------------------*\
	$HEADER
\*-----------------------------------*/

header {
	background-color: #363b48;
	box-shadow: 0px 1px 2px rgba(152,159,178,0.9);
	@include pad(26px default);
	margin-bottom: 30px;
}

.logo {
	color: #fff;
	@include media(max-width 760px) {
		text-align: center;
	}
}

/*-----------------------------------*\
	$CONTENT
\*-----------------------------------*/

.intro {
	@include span-columns(6);
}

/*-----------------------------------*\
	$FORM
\*-----------------------------------*/

.errors-box {
	background: #DE4854;
	border-radius: 3px;
}

.errors-box__message {
	color: #fff;
	@include pad(10px 20px);
}

.upload-form {
	@include span-columns(5);
	@include shift(1);
}

.styled-file.btn {
	background-color: #3F9FC9;
	color: #fff;
	
}

.faded-out {
	opacity: 0
}

.hide-completely {
	display: none;
	visibility: hidden;
}

.fade-in {
	-webkit-transition: all 1.3s ease-out;  /* Chrome 1-25, Safari 3.2+ */
     -moz-transition: all 1.3s ease-out;  /* Firefox 4-15 */
       -o-transition: all 1.3s ease-out;  /* Opera 10.50–12.00 */
          transition: all 1.3s ease-out;
	opacity: 1;
}